:root {
  --primary-green: #66bb6a;
  --dark-green: #43a047;
  --bg-color: #f5f5f5;
  --text-dark: #333;
  --text-light: #666;
  --white: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 480px; /* Mobil uygulama görünümü için */
  background-color: var(--white);
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}