absl-py==2.3.1
annotated-types==0.7.0
astunparse==1.6.3
blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.6
filelock==3.20.0
Flask==3.0.3
flatbuffers==25.9.23
fsspec==2025.10.0
gast==0.7.0
google-ai-generativelanguage==0.6.15
google-api-core==2.30.2
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.1
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.74.0
grpcio==1.76.0
grpcio-status==1.71.2
gunicorn==22.0.0
h5py==3.11.0
hf-xet==1.2.0
httplib2==0.31.2
huggingface-hub==0.36.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
keras==3.12.0
libclang==18.1.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
numpy==1.26.4
opt_einsum==3.4.0
optree==0.18.0
packaging==25.0
pillow==12.0.0
proto-plus==1.27.2
protobuf==5.29.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.2
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
rich==14.2.0
safetensors==0.7.0
setuptools==80.9.0
six==1.17.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
tf_keras==2.20.1
tokenizers==0.19.1
tqdm==4.67.1
transformers==4.44.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.5.0
Werkzeug==3.0.3
wheel==0.45.1
wrapt==2.0.1
